@{
    ViewData["Title"] = "Account";
}

@model User

<h1>Welcome, @Model.FirstName</h1>
<p>Current Balance: </p>
<p>Deposit/Withdrawl </p>
<input type="submit" value="Submit">
<table>
    <thead>
        <tr>
            <th>Amount:</th>
            <th>Date:</th>
        </tr>
    </thead
    >
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

